.tendersBox {
  .itemBox {
    border: 1px solid #edf1fb;
    border-radius: 8px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
    }
  }
  margin-bottom: 80px;
}
