.lil-gui.root {
    border-radius: 5px;
    background-color: #ddd;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.lil-gui.root .title {
    background: #e8e8e8;
    color: #1872f0;
    font-size: 1rem;
}

body:not(.lil-gui-dragging) .lil-gui.root .title:hover {
    background: #ccc;
}

.lil-gui.root .title:not(:last-child) {
    margin: 0;
}

.lil-gui.root .children {
    color: #555;
    text-shadow: none !important;
}

.lil-gui.root::-webkit-scrollbar {
    background: #fafafa;
}

.lil-gui.root::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.lil-gui.root .children div:not(.folder) {
    background: #fafafa;
    /* border-bottom: 1px solid #ddd; */
}
 
.lil-gui.root .children div.save-row .button {
    text-shadow: none !important;
}

.lil-gui.root .children .title {
    background: #e8e8e8
    /* background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat; */
}

.lil-gui.root .children .controller {
    border-bottom-width: 0px;
    padding-bottom: 2px;
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 2px;
}

.lil-gui.root .children .controller.number {
    border-radius: 2px;
    font-size: 11px;
    height: 24px;
    min-width: 45px;
    text-align: left;
}

.lil-gui.root .children .controller.function:hover,.children .controller.boolean:hover {
    background: #fff;
}

.lil-gui.root .children .widget input {
    background: #e9e9e9;
    color: #1872f0;
}

.lil-gui.root .children .widget input[type=text]:hover {
    background: #eee;
}

.lil-gui.root .children .widget input[type=text]:focus {
    background: #eee;
    color: #555;
}

.lil-gui.root .children .widget .slider {
    background: #e9e9e9;
}

.lil-gui.root .children .widget .slider:hover {
    background: #eee;
}